@use 'sass:color';
@use "sass:selector";
@use 'normalize';

// --- theming --- //

$background: #fbfffc;
$surface: #e6e2dd;
$primary: #d5cdc5;
$secondary: #d1c4e9;

@use '@material/theme'
with (
	$background: $background,
	$surface: $surface,
	$on-surface: color.change($surface, $lightness: 20%),
	$primary: $primary,
	$on-primary: color.change($primary, $lightness: 20%),
	$secondary: $secondary,
	$on-secondary: color.change($secondary, $lightness: 18%),
);
@use "@material/theme/custom-properties";



@use "@material/shape"
with (
	$small-component-radius: 12px,
	$medium-component-radius: 8px,
	$large-component-radius: 6px
)
;

@use '@material/typography' with (
  $styles-headline1: (
    font-family: "Abril Fatface",
  ),
  $styles-headline2: (
    font-family: "Abril Fatface",
  ),
  $styles-headline3: (
    font-family: "Abril Fatface",
  ),
  $styles-headline4: (
    font-family: "Abril Fatface",
  ),
  $styles-headline5: (
    font-family: "Abril Fatface",
  ),
  $styles-headline6: (
    font-family: "Abril Fatface",
  ),
  $styles-caption: (
    font-family: 'Inconsolata',
    font-size: 0.815rem,
    font-weight: 300,
  ),
  $styles-body1: (
    font-family: unquote("Roboto, sans-serif"),
    font-weight: 300,
  ),
  $styles-body2: (
    font-family: unquote("'Roboto', sans-serif"),
    font-weight: 300
  ),
  $styles-button: (
    font-family: unquote("Montserrat, Helvetica, sans-serif"),
    font-weight: 600
  ),
  $styles-overline: (
  ),
);


// --- utilies --- //

@use "@material/elevation/mdc-elevation";
@use "@material/ripple";
@use '@material/rtl';
// @use "@material/layout-grid/mdc-layout-grid";

// --- components --- //

@use "@material/icon-button/styles";
// @use "@material/top-app-bar/mdc-top-app-bar";
@use "@material/button" as button;
@use "@material/card";
@use "@material/floating-label/mdc-floating-label";
@use "@material/line-ripple/mdc-line-ripple";
@use "@material/notched-outline/mdc-notched-outline";
@use "@material/textfield";
@use "@material/fab";
@use "@material/image-list/mdc-image-list";
@use "@material/image-list";
@use "@material/data-table/data-table-theme" with (
  $default-density-scale: -3
);
@use "@material/data-table/data-table";

@include typography.core-styles;
@include theme.core-styles;
@include card.core-styles;
@include textfield.core-styles;
@include fab.core-styles;
@include data-table.core-styles;
@include data-table.theme-baseline;

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Montserrat:wght@200;300;400;500;600&family=Roboto+Slab:wght@200&family=Roboto:wght@200&family=Inconsolata:wght@200;300&display=swap');
@import "@material/button/styles";
@import "@material/chips/styles";

// @import './scroll-snapping';
@import './container';
@import './cards';
@import './details-summary';
@import './breadcrumb';

body {
  @include theme.property(background-color, "surface");
  scroll-behavior: smooth;
}

* {
  &::-webkit-scrollbar {
    width: .25rem;
    height: .25rem;
  }

  &::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    border-radius: .125rem;
  }
}

*, section {
  box-sizing: border-box;
}

.button {
  &-on-surface {
    @include button.filled-accessible(color.change($surface, $alpha: .85));
    @include button.ink-color(color.change($primary, $lightness: 30%));
  }
}

.mdc-evolution-chip {

  & &__text-label {
    font-family: 'Roboto';
  }

  & &__text-icon {
    @extend .mdc-evolution-chip__text-label;

    &.material-icons {
      font-family: 'Material Icons';
    }

    &--leading {
      padding-inline-end: .25rem;
    }

    &--trailing {
      padding-inline-start: .25rem;
    }
  }

}

.mdc-fab {
  @include fab.ink-color(color.change($secondary, $lightness: 30%));
}

.mdc-text-field {
  @include textfield.focused-outline-color(color.change($secondary, $lightness: 75%));
  @include textfield.prefix-color(color.change($secondary, $lightness: 20%));
  @include textfield.label-color(color.change($secondary, $lightness: 20%));
  @include textfield.caret-color(color.change($secondary, $lightness: 20%));
  @include textfield.suffix-color(color.change($secondary, $lightness: 20%));
}

.jumbotron {
  position: relative;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-flow: column;

  @media (min-width: 90ch) {
    flex-flow: row-reverse nowrap;
  }

  &--underlay {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;

    .thumbnail {
      $blur: 20px;
      top: -$blur * 2;
      left: -$blur * 2;
      width: calc(100% + $blur * 4);
      height: calc(100% + $blur * 4);
      filter: blur($blur);
      object-fit: cover;
    }

    .lazy {
      opacity: 0;
      transition: opacity .4s cubic-bezier(.45,.05,.55,.95);;

      &.loaded {
        opacity: 1;
      }
    }

    image, img, video {
      position: absolute;
      $blur: 0px;
      top: -$blur * 2;
      left: -$blur * 2;
      width: calc(100% + $blur * 4);
      height: calc(100% + $blur * 4);
      filter: blur($blur);
      object-fit: cover;
    }

  }

  &--menu {
    min-height: 100vh;
    min-width: 40ch;
    min-width: calc(min(40ch, 100%));
    flex: 1 1 40%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;

    padding: 1rem;
    gap: .5rem;

    $ink-color: #d5cdc5;

    &--headline {
      // @include theme.property(color, "primary");
      color: $ink-color;
      font-family: "Abril Fatface";
      font-size: 4rem;
      font-size: calc(min(4rem, 15vw));
      // text-shadow: 0 0.1rem 0.2rem color.change($secondary, $lightness: 35%, $alpha: .75);
    }

    &--button {
      @include button.container-fill-color(color.change(#423b39, $alpha: .4));
      @include button.ink-color($ink-color);
      @include button.outline-color(color.change($ink-color, $alpha: .5));
      @include button.outline-width(1px);
      .mdc-button__label {
        text-align: center;
        width: 15ch;
      }
    }
  }

  &--promo {
    // min-height: 100vh;
    min-width: min(60ch, 100%);
    flex: 1 1 60%;
    display: flex;
    flex-flow: row wrap;
    gap: .5rem;
    justify-content: space-evenly;
    align-items: center;


    padding: .5rem;
  }
}

.card-list {
  @extend .container;

  display: grid;
  grid-auto-rows: minmax(15rem, auto);
  grid-template-columns: repeat(1,minmax(0,1fr));
  justify-items: center;
  gap: .5rem;
  padding: .5rem;

  .card-list-item {
    max-width: 50ch;
  }

  .breaker {
    height: 0;
    width: 100%;
  }
}

@media (min-width: 1100px) {
  .card-list {

    flex-wrap: nowrap;
    grid-template-columns: repeat(2,minmax(0,1fr));

    .breaker {
      display: none;
    }

    .card-list-item {
      min-width: 40ch;
      max-width: 60ch;
    }
  }
}

.about {

  $break-width-m: 900px;
  $break-width-m--1: 899px;

  $break-width-l: 1400px;
  $break-width-l--1: 1399px;

  .on-mobile {
    @media (min-width: $break-width-m) {
      display: none !important;
    }
  }

  .on-tablet {
    @media (max-width: $break-width-m--1) {
      display: none !important;
    }

    @media (min-width: $break-width-l) {
      display: none !important;
    }
  }

  .on-desktop {
    @media (max-width: $break-width-l--1) {
      display: none !important;
    }
  }
}

.product-page {

  $break-width: 1500px;
  $break-width--1: 1499px;

  .on-mobile {
    @media (min-width: $break-width) {
      display: none;
    }
  }

  .on-desktop {
    @media (max-width: $break-width--1) {
      display: none;
    }
  }

  .product {

    flex: 1 0 auto;
    width: 100%;

    &-header {

      width: 100%;
      height: auto;
      padding: .5rem;
      display: flex;
      flex-flow: column nowrap;
      gap: .5rem;

      @media (min-width: $break-width) {
        // @include image-list.masonry-columns(3, .25rem);
        flex-flow: row-reverse nowrap;

        &--gallery {
          flex-basis: 100ch;
        }
      }

      &--divider {
        margin: .5rem;
        border-top: color.change($secondary, $alpha: .45) solid 1px;
        border-right: color.change($secondary, $alpha: .45) solid 1px;
        border-radius: 1px 1px 50% 100%;
      }

      &--gallery {
        flex: 1 1 100ch;
        max-width: 100%;
        padding: .5rem;
      }
    }

    &-detail {

      @media (min-width: $break-width) {
        flex-basis: 60ch;
      }

      padding: .5rem;
      flex: 1 1 auto;

      &_description {

        display: flex;
        flex-flow: row wrap;
        align-content: space-around;
        padding-block: 1rem;
        gap: .66rem;

        p {
          margin: 0;
        }

        &--body1 {
          @extend .mdc-typography--body1;
          flex: 100 1 45ch;
        }

        &--body2 {
          @extend .mdc-typography--body2;
          flex: 100 1 30ch;
        }

        &--table {
          flex-grow: 1;
          flex-basis: content;

          .mdc-data-table {
            // @include data-table.density-functions(-3);
          }
        }

        &--collapsible {

          &-trigger {
            // @extend .mdc-button;
            // @extend .mdc-button--unelevated;
            max-width: 100%;
            display: flex;
            flex-flow: row nowrap;
            gap: .25rem;

            span {
              flex: 0 1 auto;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }

            button {
              flex: 0 0 auto;
            }
          }

          &-container {
            overflow: hidden;
            transition: height .4s ease;
            height: 0;
          }
        }
      }
    }
  }

  .image-list {
    max-width: 100%;

    @include image-list.masonry-columns(2, .5rem);
    @include image-list.shape-radius(.5rem);

    @media (min-width: 600px) {
      @include image-list.masonry-columns(2, 1.5rem);

    }

    @media (min-width: 800px) {
      @include image-list.masonry-columns(3, 1.5rem);

    }

    @media (min-width: 1200px) {
      @include image-list.masonry-columns(4, 1.5rem);
    }

    @media (min-width: $break-width) {
      @include image-list.masonry-columns(3, 1.5rem);
    }

  }
}
