.breadcrumb {

  @extend .mdc-typography--caption;

  &-divider {

    display: inline-flex;
    height: 1.5rem;
    font-size: .8rem;
    color: #4b5d4b;
    align-items: center;

    &--dash {
      height: .125rem;
      width: .6rem;
      border-top: solid 1px #4b5d4b;
      box-sizing: content-box;
    }
  }

  & > &-item {

    @extend .mdc-typography--caption;

    text-transform: none;
    height: 1.5rem;
    font-size: .8rem;
    font-weight: 600;
  }
}