.container-parent {
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.container {
  width: calc(min(100%, 100rem));
  overflow-x: auto;
  // background-color: rgba(255, 255, 255, .1);
}