.card {

  @extend .mdc-card;
  flex: 1 1 45ch;
  // max-height: 40rem;

  padding: .5rem;

  &--borderless {
    @extend .mdc-card--outlined;
    border: none;

    .card__actions button, .card__actions a {
      border: rgba(0,0,0,.08) solid 1px
    }
  }

  &__title {
    @extend .mdc-typography--headline6;
    // @extend .mdc-theme--on-primary;
  }

  &__subtitle {
    font-family: "Abril Fatface";
  }

  &__primary-action {
    @include shape.radius(medium);
    overflow: hidden;
  }
  
  .mdc-card__media {
    width: 100%;
  }

  &__secondary {
  }
  
  &__actions {
    padding: .5rem 0;
  }

  &-order {

    @extend .mdc-card--outlined;

    position: relative;
    max-width: 100ch;
    max-height: none;
    display: flex;
    flex-flow: column;
    gap: 1rem;
    padding: 1rem;

    &--header {
      flex: 1 1 30ch;
      display: flex;
      flex-flow: row wrap;
      gap: 1rem;

      &-text {
        flex: 2 1 35ch;
        padding-inline: .5rem;
      }

      &-email {
        flex: 1 1 30ch;
        display: flex;
        flex-flow: row wrap;
        align-content: flex-end;
        gap: .5rem;

        > * {
          flex: 1 1 25ch;
        }
      }
    }

    &--body {
      width: 100%;
    }

    &--submit {
      position: absolute;
      right: 1.25rem;
      bottom: 1.25rem;

      .mdc-fab {
        @extend .mdc-elevation--z1;
        @include fab.shape-radius(100% 100% 1rem 100%);

        &__icon {
          padding: 0.1625rem 0 0 0.1625rem;
        }
      }
    }
  }

  &-footer {

    &--wrapper {
      width: 100%;
      margin-top: 5rem;
      border-top: rgba(0,0,0,.15) dashed 1px;
      display: flex;
      justify-content: center
    }

    @extend .card--borderless;

    flex: 1 1 auto;
    max-width: 100ch;
    position: relative;
    max-height: none;
    display: flex;
    flex-flow: column;
    gap: 1rem;

    > * {
      padding-inline: 1.5rem;
      @extend .mdc-typography--body2;
      font-family: 'Inconsolata';
    }
  }
}