<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>emq - hmmm</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link rel="stylesheet" href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css">
  <link rel="stylesheet" href="/static/annapastry/bundle.css" data-th-href="${'/annapastry/bundle.css'}">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons&display=block">
	<script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
</head>

<body class="mdc-typography" style="height: 100vh; margin: 0; display: flex; flex-flow: column nowrap;">
	<main
		style="flex: 1 1 auto; max-width: 50ch; margin: .75em; display: flex; flex-flow: column nowrap; align-self: center; align-items: center; text-align: center ; justify-content: center;">
		<h1 class="mdc-typography--headline5" data-thx-utext="#{emq.error.headline}">Valami nem stimmel...</h1>
		<p class="mdc-typography--body1" data-thx-utext="#{emq.error.body}">Amit keresel nem létezik vagy esetleg ideiglenesen nem elérhető, mindenestre dolgozunk a megoldáson.</p>
		<div style="display: flex; justify-content: center;">
			<div class="mdc-touch-target-wrapper" style="margin-inline: .25rem;">
				<a href="" class="mdc-button button-on-surface mdc-button--touch mdc-button--outlined mdc-button--leading">
					<span class="mdc-button__ripple"></span>
					<span class="mdc-button__touch"></span>
					<i class="material-icons mdc-button__icon" aria-hidden="true">
						refresh
					</i>
					<span class="mdc-button__label" data-thx-text="#{emq.error.refresh}">újratöltés</span>
				</a>
			</div>
			<div class="mdc-touch-target-wrapper" style="margin-inline: .25rem;">
				<a href="/" class="mdc-button mdc-button--touch mdc-button--raised mdc-button--leading">
					<span class="mdc-button__ripple"></span>
					<span class="mdc-button__touch"></span>
					<i class="material-icons mdc-button__icon" aria-hidden="true">
						home
					</i>
					<span class="mdc-button__label" data-thx-text="#{emq.error.home}">kezdőlap</span>
				</a>
			</div>
		</div>
	</main>
</body>

</html>