<!DOCTYPE html>
<html lang="hu">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Pastry</title>
	<link rel="stylesheet" href="/static/annapastry/bundle.css" data-th-href="${'/annapastry/bundle.css'}">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp">
</head>
<body class="mdc-typography container-parent" style="min-height: 100vh; width: 100%;">
  <main class="about container" style="flex: 1 0 auto; display: flex; flex-flow: row nowrap; padding: 1rem; row-gap: 1rem; column-gap: 2rem;">
    <section style="flex: 1 1 60ch;">
      <div class="mdc-typography--caption">
        <a href="/" data-th-href="${'/'}"  class="mdc-button button-on-surface mdc-button--leading" style="text-transform: none; height: 1.5rem; font-size: .8rem; color: #4b5d4b; font-family: var(--mdc-typography-caption-font-family,var(--mdc-typography-font-family,));">
          <span class="mdc-button__ripple" style="font-size: .7rem;"></span>
          <span class="material-icons mdc-button__icon">home</span>
          <span>Kezdőlap</span>
        </a>
        <span style="display: inline-flex; height: 1.5rem; font-size: .8rem; color: #4b5d4b; align-items: center;">
          <span style="height: .125rem; width: .6rem; border-top: solid 1px #4b5d4b; box-sizing: content-box;"></span>
        </span>
        <a href="#" class="mdc-button button-on-surface mdc-button--leading" style="text-transform: none; height: 1.5rem; font-size: .8rem; color: #4b5d4b; font-family: var(--mdc-typography-caption-font-family,var(--mdc-typography-font-family,));">
          <span class="mdc-button__ripple" style="font-size: .7rem;"></span>
          <span class="material-icons mdc-button__icon">auto_awesome</span>
          <span>Rólunk</span>
        </a>
      </div>
      <h1 class="mdc-typography--headline2" style="margin-block: 1rem;">A cukrászda</h1>
      <p class="mdc-typography--body1">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores iusto tempora ullam at libero laudantium debitis in cum vel harum repellendus minima quasi exercitationem, animi repudiandae facilis incidunt impedit aliquid.</p>
      <p class="mdc-typography--body1">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores iusto tempora ullam at libero laudantium debitis in cum vel harum repellendus minima quasi exercitationem, animi repudiandae facilis incidunt impedit aliquid.</p>
      <h2 class="mdc-typography--headline3" style="margin-block: 1rem;">Lorem ipsum</h2>
      <p class="mdc-typography--body1" style="display: flex; flex-flow: row wrap; gap: 1rem">
        <img class="on-mobile" src="https://picsum.photos/id/1080/400/400" alt="" style="border-radius: .5rem; flex: 1 1 150px; width: 100%; max-width: 200px;">
        <span style="flex: 1 1 30ch; max-width: 60ch;">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores iusto tempora ullam at libero laudantium debitis in cum vel harum repellendus minima quasi exercitationem, animi repudiandae facilis incidunt impedit aliquid.
        </span>
      </p>
      <h2 class="mdc-typography--headline3" style="margin-block: 1rem;">Dolor sit amet</h2>
      <p class="mdc-typography--body1" style="display: flex; flex-flow: row wrap; gap: 1rem">
        <span style="flex: 1 1 30ch; max-width: 60ch;">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores iusto tempora ullam at libero laudantium debitis in cum vel harum repellendus minima quasi exercitationem, animi repudiandae facilis incidunt impedit aliquid.
        </span>
        <img class="on-mobile" src="https://picsum.photos/id/1080/400/400" alt="" style="border-radius: .5rem; flex: 1 1 150px; width: 100%; max-width: 200px;">
      </p>
      <div style="margin-top: 2rem;">
        <div class="mdc-touch-target-wrapper">
          <a href="mailto:us@example.com" class="mdc-button button-on-surface mdc-button--leading" style="text-transform: none;">
            <span class="mdc-button__ripple"></span>
            <span class="material-icons mdc-button__icon">email</span>
            <span>us@example.com</span>
          </a>
        </div><br>
        <div class="mdc-touch-target-wrapper">
          <a href="tel:+361234123X" class="mdc-button button-on-surface mdc-button--leading" style="text-transform: none;">
            <span class="mdc-button__ripple"></span>
            <span class="material-icons mdc-button__icon">phone</span>
            <span>+36 number number</span>
          </a>
        </div><br>
        <div class="mdc-touch-target-wrapper">
          <a href="#" class="mdc-button button-on-surface mdc-button--leading" style="text-transform: none;">
            <span class="mdc-button__ripple"></span>
            <span class="material-icons mdc-button__icon">place</span>
            <span>Utca u. 9, Budapest, 9999</span>
          </a>
        </div><br>

      </div>
    </section>
    <img class="on-desktop" src="https://picsum.photos/id/1080/500/800" alt="" style="border-radius: .5rem; flex: 1 9 30%; width: 30%; aspect-ratio: 5/8; object-fit: cover; order: -1">
    <img class="on-desktop" src="https://picsum.photos/id/1080/500/800" alt="" style="border-radius: .5rem; flex: 1 9 30%; width: 30%; aspect-ratio: 5/8; object-fit: cover;">  
    <div class="on-tablet" style="flex: 1 1 50%; display: flex; flex-flow: column nowrap; gap: 1rem;">
      <img src="https://picsum.photos/id/1080/500/500" alt="" style="border-radius: .5rem; flex: 1 1 300px; object-fit: cover;">
      <img src="https://picsum.photos/id/1080/500/500" alt="" style="border-radius: .5rem; width: 100%; object-fit: cover;">  
    </div>
  </main>
  <footer class="card-footer--wrapper" style="margin: 0; flex: 0 0 auto;">
    <section class="container" style="display: flex; justify-content: center;">
      <div class="card-footer">
        <p style="display: inline-flex;">
          <span>Készült és karbantartott a</span>
          <a href="/" class="mdc-button button-on-surface mdc-button--leading" style="text-transform: none; height: 1.25rem; font-size: 0.875rem; color: #262f26; font-family: 'Inconsolata'; line-height: 1.25rem;">
            <span class="mdc-button__ripple"></span>
            <span class="material-icons mdc-button__icon">construction</span>
            <span style="user-select: text;">xyz</span><span style="user-select: text;width: 0;overflow: hidden;">&nbsp;d-d.hu</span>
          </a>
          <span>által.</span>
        </p>
      </div>
    </section>
  </footer>
  <script  src="/static/annapastry/bundle.js" data-th-src="${'/annapastry/bundle.js'}"></script>
</body>